body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* nav */
nav{
    background-color: rgb(6, 2, 26);
    padding: 10px;
}
#divNav .logoNav{
    padding-top: 10px;
}

#divNav{
    display: flex;
    justify-content: space-between;
}

/* img de la nav */

#divImgNav{
    display: flex;
}
#divImgNav div{
    color: white;
    font-size: 15px;
    width: 100px;
    text-align: center;
    padding-left: 5px;

}

/* section Deux */

#sectionTitre{
    color: white;
    display: flex;
    background-color: rgb(44, 49, 95);
    
    padding: 50px 200px;
}

#sectionTitre .txtTitre span:first-child{
    font-size: 4em;
    
}
#sectionTitre .txtTitre span:nth-child(3){
    margin-top: 10px;
    font-size: 2.5em;
    font-weight:100;
}

.txtTitre{
    margin-left: 200px;
}
/* eclosion */
#eclosion{
    padding-top: 50px;
}
.titreS{
    background-color: rgb(44, 49, 95);
    margin: 1px auto;
    width: 300px;
    font-size: 4em;
    color: white;
    text-align: center;
    padding: 10px 35px;
}
.flexS{
    padding: 50px 180px;
    display: flex;
}

.flexS div:nth-child(2){
    width: 500px;
    padding-left: 250px;

}