body{
    margin: 0;
}

/* nav */
nav{
    background-color: rgb(6, 2, 26);
    padding: 10px;
}
#divNav{
    display: flex;
    justify-content: space-between;
}

/* img de la nav */

#divImgNav{
    display: flex;
}
#divImgNav div{
    color: white;
    font-size: 15px;
    width: 100px;
    text-align: center;
    padding-left: 5px;

}